<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:label="测试"
        android:theme="@style/Theme.AppCompat.Light.NoActionBar"
		android:icon="@drawable/icon"
        android:name=".Application">
		<activity android:name=".LaunchPad">
			<intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
    <uses-permission android:name="hl4a.permission.RunScript"/>
</manifest>
